body {
    background: linear-gradient(300deg, #712cf9, #efeaeb, rgb(68, 123, 232));
    background-size: 180% 180%;
    margin: 0;
    padding: 0;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 .st{
  text-decoration: none;
 }
 .mapouter{
  border:5px solid rgb(39, 111, 218)ck;
 }
 .button{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  padding: 8px 70px;
 }